<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<aop:aspectj-autoproxy />
	<context:component-scan base-package="com.y0" />

	<!--数据源-->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="destory">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		<property name="initialSize" value="${initialSize}" />
		<property name="maxActive" value="${maxActive}" />
	</bean>

	<!--注入数据源-->
	<bean id="loginService" class="com.y0.service.impl.LoginServiceImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 事务管理器 提供数据源-->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!--使用事务管理器()注解-->
	<!--	<tx:annotation-driven transaction-manager="txManager" />-->

	<!--	登陆的切入点	-->
	<bean id="logincut" class="com.y0.aop.PointCut" />

	<aop:config>
		<aop:pointcut id="cut"
			expression="execution (* com.y0.service.impl.LoginServiceImpl.*(..))" />

		<!--切入点的拦截通知-->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="cut" />

		<aop:aspect id="asp" ref="logincut">
			<aop:before pointcut-ref="cut" method="before" arg-names="name" />
			<aop:after-returning pointcut-ref="cut" method="after" />
		</aop:aspect>
	</aop:config>

	<!--	配置事务通知	-->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" propagation="NOT_SUPPORTED" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
</beans>